<tr>
  <td>
    <div><%= order_line.name %></div>
    <div><%= order_line.address %></div>
  </td>
  
  <td>
  <% order_line.line_items.each do |item| %>
    <div>
      <span><%= item.quantity %></span> X
      <span><%= item.product.title %></span>
    </div>
  <% end %>
  </td>
  
  <td>
    <%= check_box("to_be_ship", order_line.id, {}, "yes", "no") %>
  </td>
</tr>
