<% content_for :title, "Pragprog Books Online Store" %>
<table class="table table-striped">
  <tbody>
  <% @products.each do |product| %>
    <tr>
      <td width="300">
        <img width="200" height="100" src="<%= product.image_url%>" />
      </td>
      <td>
        <h3><%= product.title %></h3>
        <p><%= product.description %></p>
        <div class="span3"><h4><%= fmt_dollar(product.price) %></h4></div>
        <div class="span3">
          <%= link_to 'Add to cart',
            {:action => 'add_to_cart', :id => product.id},
            :class => '' %>
          </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
