<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "bootstrap", :media => "screen" %>
  <%= stylesheet_link_tag    "store", :media => "screen" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="brand" href="#">PRAGMATIC BOOKSHELF</a>
      </div>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
          <ul class="nav nav-list">
            <li><a href="/store">Home</a></li>
            <li><a href="#">Questions</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
  
      <div class="span9">
        <div class="well">
          <%= yield %>
        </div>
      </div>
    </div>

    <hr>
    <footer>
      <p> &copy; tonsh 2012 </p>
    </footer>
  </div>

</body>
</html>
